<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Steven Baar Programming Assignment 5</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('login_form') }}">Login</a></li>
                <li><a href="{{ url_for('register_form') }}">Register</a></li>
                <!-- TODO: Add auth checks for server administrator -->
                <h3>Admin Panel</h3>
                <li><a href="{{ url_for('employees') }}">View Students</a></li>
                <li><a href="{{ url_for('init_db') }}">Initialize Database</a></li>
            </ul>
        </nav>
    </body>
</html>